:root {
    --primary-color: #007da5;
    --secondary-color: #1b3a5a;
    --accent-color: #ffffffcf;
    --heading-font: "Roboto", Helvetica, sans-serif;
    --paragraph-font: "Open Sans", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

p {
    font-family: var(--paragraph-font);
}

/* 1. UNIVERSAL SELECTOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. CSS VARIABLES*/

body {
    font-family: var(--paragraph-font);
    line-height: 1.5;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
}

/* HEADER AND NAVIGATION */
header {
    background-color: var(--accent-color);
    color: #121111;
    padding: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 10px;
}

header img {
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--secondary-color);
}

/* SECTION 1: HERO */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.hero h1 {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: rgba(200, 29, 29, 0.7);
    padding: 10px;
    color: white;
}

.hero article {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
}

.hero article img {
    float: right;
    width: 150px;
    margin: 10px;
}

/* SECTION 2: HISTORY */
.history {
    max-width: 1200px;
    margin: 20px auto;
}

.history h2 {
    color: #f2fdff;
    background-color: #5e16165c;
    padding: 15px;
    border-bottom: 5px solid #333;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

.history-text {
    padding: 40px;
}

.history-grid img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff5c;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* SECTION 3: ADVENTURE GALLERY */
.adventure {
    padding: 40px;
    text-align: center;
    background-color: #ffffff5c;
    color: #000;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.adventure-gallery figure {
    margin: 0;
    background-color: #fff;
}

.adventure-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

figcaption {
    padding: 10px;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: white;
}

/* FOOTER - Socialmedia */
footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
}

.socialmedia {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px;
}

.socialmedia img {
    width: 35px;
    height: auto;
    transition: transform 0.3s;
}

.socialmedia img:hover {
    transform: scale(1.2);
}