body {
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
}

h1 {
    color: #333;
}

nav a {
    text-decoration: none;
    padding: 10px;
}

main {
    max-width: 840px;
    margin: 0 auto;
    padding: 20px;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid #333;
    padding: 5px;
    box-shadow: 5px 5px 10px #888;
}

p {
    padding: 0;
}

aside {
    width: 320px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    clear: both;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 25px;
    border-top: 1px solid #eee;
    margin-top: 20px;
}